[tool.poetry]
name = "podping-hivewriter"
version = "1.1.0-beta.3"
license = "MIT"
authors = ["Alecks Gates <alecks@podping.org>", "Brian of London <brian@podping.org>"]
maintainers = ["Alecks Gates <alecks@podping.org>", "Brian of London <brian@podping.org>"]
readme = "README.md"
description = "This is a tool used to submit RFC 3987-compliant International Resource Identifiers as a Podping notification on the Hive blockchain."
homepage = "http://podping.org/"
repository = "https://github.com/Podcastindex-org/podping-hivewriter"
keywords = ["hive", "blockchain", "podping", "podcasting20"]
classifiers = [
    "Development Status :: 5 - Production/Stable",
    "Environment :: Console",
    "Framework :: AsyncIO",
    "Framework :: Pytest",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Libraries :: Python Modules"
]
build = "build.py"
include = ["src/podping_hivewriter/schema/*.py", "src/podping_hivewriter/schema/*.so"]

[tool.poetry.dependencies]
python = "^3.8"
pyzmq = "^22.1.0"
cffi = "^1.14.5"
pydantic = "^1.9.0"
single-source = "^0.2.0"
rfc3987 = "^1.3.8"
asgiref = "^3.4"
typer = {extras = ["all"], version = "^0.3.2"}
capnpy = "^0.9.0"
lighthive = "^0.3.0"

[tool.poetry.dev-dependencies]
black = "^21.5b2"
isort = "^5.8.0"
pytest = "^6.2.4"
pytest-cov = "^3.0.0"
pytest-asyncio = "^0.16.0"
bandit = "^1.7.0"
pytest-timeout = "^2.0.2"
typer-cli = "^0.0.12"
flake8 = "^4.0.1"
mypy = "^0.931"

[tool.poetry.extras]
server = ["pyzmq"]


[tool.poetry.scripts]
podping = "podping_hivewriter.cli.podping:app"

[build-system]
requires = ["poetry-core>=1.0.0", "capnpy"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ['py38', 'py39', 'py310']

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pytest.ini_options]
testpaths = [
    "tests",
]