[tool.poetry]
name = "podping-hivewriter"
version = "1.0.0-beta.0"
license = "MIT"
authors = ["Alecks Gates <alecks@podping.org>", "Brian of London <brian@podping.org>"]
maintainers = ["Alecks Gates <alecks@podping.org>", "Brian of London <brian@podping.org>"]
readme = "README.md"
description = "This is a tool used to submit RFC 3987-compliant International Resource Identifiers as a [Podping](http://podping.org/) notification on the Hive blockchain."
homepage = "http://podping.org/"
repository = "https://github.com/Podcastindex-org/podping-hivewriter"
keywords = ["hive", "blockchain", "podping", "podcasting20"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Framework :: AsyncIO",
    "Framework :: Pytest",
    "Programming Language :: Python :: Implementation :: CPython",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.7"
beem = "^0.24"
pyzmq = "^22.1.0"
cffi = "^1.14.5"
pydantic = "^1.8.2"
single-source = "^0.2.0"
rfc3987 = "^1.3.8"
asgiref = "^3.4"
typer = {extras = ["all"], version = "^0.3.2"}

[tool.poetry.dev-dependencies]
black = "^21.5b2"
isort = "^5.8.0"
pytest = "^6.2.4"
pytest-cov = "^2.12.1"
pytest-asyncio = "^0.15.1"
bandit = "^1.7.0"
pytest-timeout = "^1.4.2"
typer-cli = "^0.0.12"

[tool.poetry.extras]
server = ["pyzmq"]


[tool.poetry.scripts]
podping = "podping_hivewriter.cli.podping:app"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
target-version = ['py37', 'py38', 'py39']

[tool.isort]
profile = "black"
multi_line_output = 3

[tool.pytest.ini_options]
testpaths = [
    "tests",
]